<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
	<title>PrototypeBlog — PoliWeb</title>
</head>

<body>
	<header>
		<div class="top-bar">
			<a href="/" class="logo">
				Poli<spun class="logo-spun">Web</spun>
				<spun class="spun-little">Blog</spun>
			</a>
			<div class="burger-menu">
				<a href="" class="burger-menu-button">
					<spun class="burger-menu-lines"></spun>
				</a>
				<nav class="burger-menu-nav">
					<a href="#" class="burger-menu-link">Секция 1</a>
					<a href="#" class="burger-menu-link">Секция 2</a>
					<a href="#" class="burger-menu-link">Секция 3</a>
					<a href="#" class="burger-menu-link">Секция 4</a>
				</nav>
				<div class="burger-menu-overlay"></div>
			</div>
		</div>
		<section class="section-header">
			<article class="content">
				<h1>Блог о веб дизайне, кодинге и жизни в IT</h1>
				<p>
					<spun class="post-date">/ 26. 12. 2019 /</spun>
					<spun class="text-title">Далеко-далеко за словесными горами</spun> в стране гласных и согласных
					живут рыбные
					тексты. Они города всеми ipsum предложения продолжил, грамматики там пунктуация, пустился первую
					имени, реторический буквоград... <a href="" class="link">Читать подробней</a>
				</p>
				<p>
					<spun class="post-date">/ 25. 12. 2019 /</spun>
					<spun class="text-title">Предупреждал пустился сбить великий</spun> обеспечивает безорфографичный
					даже, над
					коварных жизни страна всемогущая, взгляд свой выйти переписывается от всех. Вдали он родного города!
					... <a href="" class="link">Читать подробней</a>
				</p>
				<p>
					<spun class="post-date">/ 01. 01. 1970 /</spun>
					<spun class="text-title">Они города всеми ipsum</spun> предложения продолжил, грамматики там
					пунктуация, пустился
					первую имени, реторический буквоград. Буквенных они послушавшись алфавит выйти не. Безорфографичный
					несколько агентство ... <a href="" class="link">Читать подробней</a>
				</p>
				<div class="marg-t-98 button-block">
					<a href="" class="button-bg-w button-text-b marg-r-25">Читать блог</a>
					<a href="" class="button button-text-w">Подписаться на блог</a>
				</div>
			</article>
		</section>
		<div class="abs">
			<div class="down">
				<div class="soc">
					<ul>
						<li><a href=""><img src="img/dribbble.png"></a></li>
						<li><a href=""><img src="img/behan.png"></a></li>
						<li><a href=""><img src="img/facebook.png"></a></li>
						<li><a href=""><img src="img/arrow.png"></a></li>
					</ul>
				</div>
				<div class="arrow-down" id="arrow-down">
					<a href="#start"><img src="img/arrow-down.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="header-mask"></div>
	</header>
	<section class="offset-150">
		<div id="start"></div>
		<div class="section-title">
			<h2>Свежие статьи нашего блога</h2>
			<span class=""><a href="" class="text-link-12px">Все статьи
					блога</a></span>
		</div>
		<article class="article-block">
			<div class="block">
				<div class="block-foto"><img src="img/Images/foto1.jpg" alt=""></div>
				<div class="block-text">
					<h3>Обзор SEO-новостей за 2019 год: как менялась выдача Яндекса и Google</h3>
					<p>В этой статье мы собрали новости с января 2019 года, но уместить их все в хронологическом порядке
						невозможно, так что информация разбита на тематические блоки, из которых вы можете судить о
						трендах маркетинга и развитии поисковиков.</p>
					<p>
						<span>Автор: <a href="">Блог Писатель</a></span><br>
						<span>Рубрика: <a href="">It tehnicks</a></span>
					</p>

				</div>
				<div class="block-date">20.01.2020</div>
			</div>
			<div class="block">
				<div class="block-foto"><img src="img/Images/foto2.png" alt=""></div>
				<div class="block-text">
					<h3>Обзор Web-Design за 2019 год</h3>
					<p>В этой статье мы собрали новости с января 2019 года, но уместить их все в хронологическом порядке
						невозможно, так что информация разбита на тематические блоки, из которых вы можете судить о
						трендах маркетинга и развитии поисковиков.</p>
					<p>
						<span>Автор: <a href="">Блог Писатель</a></span><br>
						<span>Рубрика: <a href="">It tehnicks</a></span>
					</p>

				</div>
				<div class="block-date">16.12.2019</div>
			</div>
			<div class="block">
				<div class="block-foto"><img src="img/Images/foto3.png" alt=""></div>
				<div class="block-text">
					<h3>Обзор Web-Design за 2019 год</h3>
					<p>В этой статье мы собрали новости с января 2019 года, но уместить их все в хронологическом порядке
						невозможно, так что информация разбита на тематические блоки, из которых вы можете судить о
						трендах маркетинга и развитии поисковиков.</p>
					<p>
						<span>Автор: <a href="">Блог Писатель</a></span><br>
						<span>Рубрика: <a href="">It tehnicks</a></span>
					</p>

				</div>
				<div class="block-date">10.12.2019</div>
			</div>
			<div class="block">
				<div class="block-foto"><img src="img/Images/foto4.jpg" alt=""></div>
				<div class="block-text">
					<h3>Обзор SEO-новостей за 2019 год: как менялась выдача Яндекса и Google</h3>
					<p>В этой статье мы собрали новости с января 2019 года, но уместить их все в хронологическом порядке
						невозможно, так что информация разбита на тематические блоки, из которых вы можете судить о
						трендах маркетинга и развитии поисковиков.</p>
					<p>
						<span>Автор: <a href="">Блог Писатель</a></span><br>
						<span>Рубрика: <a href="">It tehnicks</a></span>
					</p>

				</div>
				<div class="block-date">20.01.2020</div>
			</div>
		</article>
	</section>
	<section class="offset-150">
		<h2 class="title-h2">Популярные статьи блога</h2>
		<article class="block-4col ">
			<div class="bg-gray">
				<div class="block-4col-foto">
					<img src="img/Images/pop_foto1.jpg" alt="">
				</div>
				<div class="block-4col-text">
					<h3>Обзор Web-Design за 2019 год</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
						venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent leo...
					</p>
					<div class="block-4col-footer">
						<span class="left">
							<img src="img/el_eye-open.png" alt=""> <span class="text">2500</span>
						</span>
						<span class="right">
							<a href="">Подробней</a>
						</span>
					</div>
				</div>
			</div>
			<div class="bg-gray">
				<div class="block-4col-foto">
					<img src="img/Images/pop_foto2.jpg" alt="">
				</div>
				<div class="block-4col-text">
					<h3>Тренды Web-Design 2020 год</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
						venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent leo...
					</p>
					<div class="block-4col-footer">
						<span class="left">
							<img src="img/el_eye-open.png" alt=""> <span class="text">2000</span>
						</span>
						<span class="right">
							<a href="">Подробней</a>
						</span>
					</div>
				</div>
			</div>
			<div class="bg-gray">
				<div class="block-4col-foto">
					<img src="img/Images/pop_foto3.jpg" alt="">
				</div>
				<div class="block-4col-text">
					<h3>Обзор Web-Coding 2020</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
						venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent leo...
					</p>
					<div class="block-4col-footer">
						<span class="left">
							<img src="img/el_eye-open.png" alt=""> <span class="text">1500</span>
						</span>
						<span class="right">
							<a href="">Подробней</a>
						</span>
					</div>
				</div>
			</div>
			<div class="bg-gray">
				<div class="block-4col-foto">
					<img src="img/Images/pop_foto4.jpg" alt="">
				</div>
				<div class="block-4col-text">
					<h3>Тренды SEO 2020 года</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus
						venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent leo...
					</p>
					<div class="block-4col-footer">
						<span class="left">
							<img src="img/el_eye-open.png" alt=""> <span class="text">1000</span>
						</span>
						<span class="right">
							<a href="">Подробней</a>
						</span>
					</div>
				</div>
			</div>

		</article>
	</section>
	<section class="offset-150"></section>
	<div class="subscription">
		<h2 class="title-h2">Подписаться на новые статьи </h2>
		<div class="block-2col">
			<div class="left">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet risus, mollis quisque metus, hac mi
					lorem vulputate convallis. Amet facilisis urna nisi urna sapien facilisi adipiscing. Enim faucibus
					luctus amet ultrices varius. Egestas consequat penatibus convallis diam vel. Nunc fames ultricies
					sit aliquet egestas varius aenean. Egestas cursus venenatis elementum sed quam tincidunt. Dui
					volutpat viverra elementum in morbi facilisi nibh. Cursus pellentesque lectus iaculis netus gravida
					non urna porta enim.</p>
				<p>Enim, orci consequat eu vitae egestas duis. At viverra a, nulla arcu ultricies. Augue mi ut luctus ut
					eget aliquet tellus vulputate eget. Ullamcorper lacus odio odio praesent felis scelerisque. Sociis
					facilisi felis nunc, risus dolor senectus ipsum. Mauris a netus nunc faucibus ultrices. Diam platea
					elementum aliquam eu facilisis. Iaculis nisl consequat quis ullamcorper in. Diam platea elementum
					aliquam eu facilisis. Iaculis nisl consequat quis...</p>
			</div>
			<div class="right">
				<form action="">
					<input class="input-mail" type="email" value="Ваш E-Mail"><br>
					<input class="input-button" type="button" value="Подписаться">
				</form>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer-block">
			<div class="block1">
				<div class="soc">
					<ul>
						<li><a href=""><img src="img/dribbble.png"></a></li>
						<li><a href=""><img src="img/behan.png"></a></li>
						<li><a href=""><img src="img/facebook.png"></a></li>
						<li><a href=""><img src="img/arrow.png"></a></li>
					</ul>
				</div>
			</div>
			<div class="block2"><span>Copyright © PoliWeb Blog</span></div>
			<div class="block3"><a href="" class="text-link-14px">Контакты</a></div>
		</div>
	</footer>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
	<script src='js/js.js'></script>
</body>

</html>