* {
    margin: 0;
    padding: 0;
    outline: 0 !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.a_link {
    position: relative;
    color: #BB1E99;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.a_link:hover {
    color: #000;
    text-decoration: none;
}

.a_link:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #F9AFE9;
    transition: all 0.5s ease-in-out;

}

.a_link:hover:after {
    width: 0;
}

/* Блок header */
.header {
    position: relative;
    background-image: url('./img-theme/bg_header.svg');
    background-size: cover;
    background-position-y: center;
    min-height: 100vh;
    margin-bottom: 80px;
}

/* Тег section margin- с низу 80px */
section {
    margin-bottom: 80px;
}

/* //Тег section margin- с низу 80px */

.TopBlock {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 0px;
    justify-items: stretch;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px solid #F9AFE9;
}

.TopBlock a {
    text-decoration: none;
    color: #000000;

}

.TopBlock-adress,
.TopBlock-worktime,
.TopBlock-telenumber {
    font-size: 18px;
}

/* .TopBlock-adress */
.TopBlock-adress a {
    transition: all 0.5s ease-in-out;
}

.TopBlock-adress a:hover {
    color: #BB1E99;
}

.TopBlock-adress a::after {
    display: block;
    position: absolute;
    content: '';
    width: 0px;
    height: 3px;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
}

.TopBlock-adress a:hover::after {
    width: 100px;
    height: 3px;
    background-color: #F9AFE9
}

/* //.TopBlock-adress */

/* .TopBlock-telenumber */
.TopBlock-telenumber a {
    transition: all 0.5s ease-in-out;
}

.TopBlock-telenumber a:hover {
    color: #BB1E99;
}

.TopBlock-telenumber a::after {
    display: block;
    position: absolute;
    content: '';
    width: 0px;
    height: 3px;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
}

.TopBlock-telenumber a:hover::after {
    width: 100px;
    height: 3px;
    background-color: #F9AFE9
}

/* //.TopBlock-telenumber */

.BlockShapka {
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: repeat(5, 1fr);
    grid-gap: 20px;
    justify-items: stretch;
    align-items: center;
}

.BlockShapka-block1 {
    grid-column: 1 /8;
    grid-row: 1 / 3;
    z-index: 2;
}

.BlockShapka-block1_slog {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: normal;
    color: #424242;
    border-left: 1px solid #F9AFE9;
    padding-left: 16px;
}

.BlockShapka-block2 {
    padding-left: 16px;
    grid-column: 1 /8;
    grid-row: 3 / 5;
    z-index: 2;
}

.BlockShapka-block2 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: normal;
    color: #424242;
}

.BlockShapka-block2 p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    color: #000000;
    padding-top: 51px;
    padding-bottom: 51px;
}

.BlockShapka-block2 .button {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    line-height: normal;
    color: #000000;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #BB1E99;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.BlockShapka-block2 .button:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #BB1E99;
    content: '';
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.BlockShapka-block2 .button:hover {
    color: #fff;
    border: 1px solid #BB1E99;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.BlockShapka-block2 .button:hover:after {
    color: white;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.BlockShapka-block3 {
    grid-column: 8 / 13;
    grid-row: 1 / 5;
    min-height: 100%;
    background-image: url(/img/ledi2.png);
    background-repeat: no-repeat;
    height: 89vh;
    background-position: top, left;
    z-index: 1;
    /* background-size: cover; */
}

.BlockShapka-block3 img {
    max-height: 89vh;
}

/* Блок Меню - Гамбургер */
.burger-menu_button {
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

.burger-menu_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #BB1E99;
    transition: 0.4s;
}

.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -12px;
}

.burger-menu_lines::after {
    content: '';
    top: 12px;
}


.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #F9AFE9;
    overflow-y: auto;
    top: 0;
    right: -100%;
    transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
    right: 0;
    transition: 0.4s;
}

.burger-menu_link {
    padding: 18px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #BB1E99;
    border-bottom: 1px solid #fff;
}

.burger-menu_link:first-child {
    border-top: 1px solid #fff;
}

.burger-menu_link:hover {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

/* //Блок Меню - Гамбургер */
/* //Блок header */

/* CSS для блока wrapper */
.wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.advantage img {
    width: 80px;
    height: 80px;
    /* border: 3px solid #E85FCA; */
}

.advantage p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #969696;
}

/* GRID */
.section-advantage {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 80px;
}

.advantage {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

/* CSS Для Блок Наши Мастера */
.block-masers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    margin-bottom: 80px;
}

.block-masers_card img {
    width: 100%;
}

.block-masers_card h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 14px;
}

.block-masers_card p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
}

.hr {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
    background: #F9AFE9;
}

/* //CSS Для Блок Наши Мастера */


/* CSS Для Блок Наши Парнёры */
.owl-carousel {
    margin-bottom: 80px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #BB1E99 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 15px !important;
    height: 15px !important;
    margin: 5px 7px;
    background: #F9AFE9 !important;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {

    color: #F9AFE9 !important;
    font: inherit;
    font-size: 24px !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #BB1E99 !important;
    color: #fff !important;
}

.owl-nav {
    position: relative;
    height: 29px;
}

.owl-nav .owl-prev {
    position: absolute;
    left: 0;
}

.owl-nav .owl-next {
    position: absolute;
    right: 0;
}

/* //CSS Для Блок Наши Парнёры */

/* CSS Для Блок Галерея работ мастеров (Фото-альбом) */
.foto-albom {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.foto-albom_card {
    overflow: hidden;
}

.foto-albom_card img {
    width: 100%;
    height: 100%;
    transition: ease-out 0.5s;
}

.foto-albom_card:hover img {
    cursor: pointer;
    transform: scale(2) translate(4%, 4%);
}

/* CSS Для Блок Галерея работ мастеров (Фото-альбом) */


/* //CSS для блока wrapper */

/* Блок подвал сайта */
.contact-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 5%;
    background: #BB1E99;
    margin-bottom: 80px;
}

.address p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.address span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: normal;
    color: #FFFFFF;
    padding-left: 24px;
}

.foraction {
    display: flex;
    flex-direction: row;

}

.foraction_knopka .btn {
    color: #F9AFE9;
    top: 7px;
    margin-right: 40px;
}

.socset a {
    margin-right: 20px;
    transition: 0.4s;
}

.socset a:hover {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

.map {
    height: 350px;
    overflow: hidden;
}

.map img {
    width: auto;
    min-width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    align-items: center;
    align-self: center;
    border-top: 1px solid #F9AFE9;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 18px;
}

.footer-menu ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-self: center;
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.footer-menu li {
    display: block;
    position: relative;
    list-style-type: none;
    /* Убираем маркеры */
}

.footer-menu a {
    text-decoration: none;
    color: #000000;
    transition: all 0.2s ease-in-out;
}

.footer-menu a::after {
    display: block;
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    background-color: #F9AFE9;
    transition: all 0.2s ease-in-out;
}

.footer-menu li:hover a {
    color: #BB1E99;
}

.footer-menu li:hover a::after {
    width: 90%;
}

.footer-copirait {
    align-self: auto;
    justify-self: right;
}

.linc-url {
    position: relative;
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.linc-url::after {
    display: block;
    position: absolute;
    content: '';
    width: 20%;
    height: 3px;
    background-color: #F9AFE9;
    transition: all 0.2s ease-in-out;
}

.linc-url:hover {
    color: #BB1E99;
}

.linc-url:hover::after {
    width: 100%;
}

/* CSS для Кнопки (Класс - .btn) */
.btn {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 25px;
    border: 1px solid #F9AFE9;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    color: #fff;
    padding: 7px 25px;
    border: 1px solid #F9AFE9;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.btn:after {
    position: absolute;
    top: 45%;
    left: 45%;
    height: 0%;
    width: 0%;
    background-color: #BB1E99;
    content: '';
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.btn:hover::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* //CSS для Кнопки (Класс - .btn) */
.btn2 {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    color: #ffffff;
    background-color: #BB1E99;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 25px;
    border: 1px solid #F9AFE9;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.btn2:hover {
    color: rgb(0, 0, 0);
    background-color: #F9AFE9;
    padding: 7px 25px;
    border: 1px solid #BB1E99;
    box-sizing: border-box;
}

/*  CSS Модальные окна */
.modal {
    background-image: url(/img-theme/bg_form.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal a.close-modal {
    background-image: url(/img-theme/close-modal.png);
    transition: 0.4s;
}

.modal a.close-modal:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    transition: 0.4s;
}

.modal-header {
    min-height: 60px;
    border-bottom: 1px solid #F9AFE9;
    background: none;
    margin-bottom: 20px;
}

.modal-header h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 60px;
}

.modal p {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 200;
}

.modal img {
    margin-bottom: 20px;
}

.modal-footer {
    border-top: 1px solid #F9AFE9;
    min-height: 60px;
}

.modal-footer p {
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
}

/* Form CSS */
.modal-form {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 20px;
}

.modal-form input {
    height: 40px;
    font-size: 18px;
    border: none;
    border-bottom: 3px solid #BB1E99;
    background: none;
    margin-bottom: 20px;
}

.boxing {
    width: 10px;
    height: 10px !important;
    margin-bottom: 0px !important;
    margin-right: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* //Add Animation */
/*  //CSS Модальные окна */