.tab {
	margin-bottom: 80px;
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #313131;
}

.tabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: stretch;
	align-items: stretch;
	overflow: hidden;
	margin: 0;
	width: 100%;
	margin-left: 0;
	/* Отступ слева в браузере IE и Opera */
	padding-left: 0;
	/* Отступ слева в браузере Firefox, Safari, Chrome */
}

.tabs li {
	line-height: 38px;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.tabs a {
	background-color: #fff;
	border: 1px solid #E85FCA;
	font-size: 18px;
	color: #000;
	font-weight: 400;
	text-align: center;
	display: block;
	letter-spacing: 0;
	outline: none;
	padding: 0 20px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid #BB1E99;
}

.tabs a:hover {
	background: #F9AFE9;
}

.tabs_item {
	display: none;
	padding-top: 30px;
	padding-bottom: 0;
}

.tabs_item h4 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #BB1E99;
	font-size: 18px;
}

.tabs_item p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	padding-top: 18px;
	padding-bottom: 18px;
}

.tabs_item img {
	width: 200px;
	float: left;
	margin-right: 30px;
}

.tabs_item:first-child {
	display: block;
}

.tabs .current a {
	color: #fff;
	background: #BB1E99;
}

.tabs .current a:hover {
	color: #fff;
	background: #BB1E99;
}

/* CSS для фото альбома */
.fotobloc_foto {
	overflow: hidden;
}

.fotobloc_foto img {
	width: 100%;
	height: 100%;
	transition: ease-out 0.5s;
}

.fotobloc_foto:hover img {
	cursor: pointer;
	transform: scale(2) translate(4%, 4%);
}

.fotobloc {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 0px;
	grid-row: repeat(4, 1fr);
}

/* ================================ */
.one {
	grid-column: 1;
	grid-row: 1 / 2;
}

.two {
	grid-column: 2;
	grid-row: 1 / 3;
}

.three {
	grid-column: 3;
	grid-row: 1 / 2;
}

.four {
	grid-column: 4;
	grid-row: 1 / 3;
}

.five {
	grid-column: 1;
	grid-row: 2 / 4;
}

.six {
	grid-column: 2;
	grid-row: 3 / 4;
}

.seven {
	grid-column: 3;
	grid-row: 2 / 4;
}

.eight {
	grid-column: 4;
	grid-row: 3 / 4;
}

/* ==================  */
/* //CSS для фото альбома */

/* ========  @media  ================  */

@media only screen and (max-width: 768px) {
	.tabs {
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
	}
}

@media only screen and (max-width: 568px) {
	.tabs {
		grid-template-columns: auto;
	}

	/* ==== @media для фото альбома  468px =======   */
	.fotobloc {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0px;
		grid-row: repeat(4, 1fr);

	}

	.one {
		grid-column: 1;
		grid-row: 1 / 2;
	}

	.two {
		grid-column: 2;
		grid-row: 1 / 3;
	}

	.three {
		grid-column: 1;
		grid-row: 4 / 5;
	}

	.four {
		grid-column: 2;
		grid-row: 4/ 6;
	}

	.five {
		grid-column: 1;
		grid-row: 2 / 4;
	}

	.six {
		grid-column: 2;
		grid-row: 3 / 4;
	}

	.seven {
		grid-column: 1;
		grid-row: 5 / 7;
	}

	.eight {
		grid-column: 2;
		grid-row: 6 / 7;
	}

	/* ==== //@media для фото альбома  468px =======   */

}