<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="css/font-roboto.css?family=Roboto:100,300,400,700&_cacheOverride=1554138143334" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/jquery.modal.min.css" />
	<link rel="stylesheet" href="css/accordion.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/adaptiv.css">
	<link rel="stylesheet" href="css/tabs.css">
	<link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css">
	<title>Document</title>
</head>

<body>
	<!-- Блок header-->
	<header class="header" id="section-1">
		<div class="TopBlock">
			<div class="TopBlock-logo">
				<a href="/"><img src="img-theme/logo.png" alt=""></a>
			</div>
			<div class="TopBlock-adress">
				<p>Алма-Ата ул. Шаляпина дом 52</p>
				<a href="#map" rel="modal:open">Посмотреть на карте</a>
			</div>
			<div class="TopBlock-worktime">
				<p>Пон - Суб 10:00 - 20:30<br>Вос 11:00 - 18:00</p>
			</div>
			<div class="TopBlock-telenumber">
				<p><span>+7 701 721 12 84</span><br><a href="#PhoneCall" rel="modal:open">Заказать звонок</a></p>
			</div>
		</div>
		<div class="BlockShapka">
			<div class="BlockShapka-block1">
				<div class="BlockShapka-block1_slog">
					<p>Ваше волшебное<br>превращение</p>
				</div>
			</div>
			<div class="BlockShapka-block2">
				<h1>Профессиональный подход<br class="br_net">к красоте каждого клиента </h1>
				<p>Впервые салон красоты «SULWLIQ» появился в 1994 году и за прошедший период стал эталоном сервиса и
					высокого качества услуг. В салоне красоты «SULWLIQ» работают только настоящие мастера своего дела
					парикмахеры-стилисты, мастера ногтевого сервиса, визажисты, врачи-косметологи.</p>
				<div><a href="#SignMaster" rel="modal:open" class="button">Записаться к мастеру</a></div>
			</div>
			<div class="BlockShapka-block3">
				<!--img src="/img/ledi.png" alt=""-->
			</div>
		</div>
		<!--Блок Меню Гамбкргер-кнопка -->
		<div class="burger-menu">
			<a href="" class="burger-menu_button">
				<spun class="burger-menu_lines"></spun>
			</a>
			<nav class="burger-menu_nav">
				<a href="#section-1" class="burger-menu_link">Sulwliq</a>
				<a href="#section-2" class="burger-menu_link">Услуги</a>
				<a href="#section-3" class="burger-menu_link">Прайс</a>
				<a href="#section-4" class="burger-menu_link">Портфолио</a>
				<a href="#section-5" class="burger-menu_link">Контакты</a>
			</nav>
			<div class="burger-menu_overlay"></div>
		</div>
		<!-- //Блок Меню Гамбкргер-кнопка -->
	</header>
	<!-- //Блок header-->

	<!-- Контент сайта  wrapper -->
	<div class="wrapper">
		<!-- Блок Преимущество -->
		<section class="section-advantage">
			<div class="advantage">
				<img src="img-theme/hairstyle.png" alt="">
				<p>Стильные стрижки</p>
			</div>
			<div class="advantage">
				<img src="img-theme/employees.png" alt="">
				<p>Опытные специалисты</p>
			</div>
			<div class="advantage">
				<img src="img-theme/herbal.png" alt="">
				<p>Натуральные средства</p>
			</div>
			<div class="advantage">
				<img src="img-theme/salon.png" alt="">
				<p>Современное оборудование</p>
			</div>
		</section>
		<!-- //Блок Преимущество -->

		<!-- Блок Вкладки Section Tabs -->
		<section id="section-2">
			<div class="tab">
				<ul class="tabs">
					<li><a href="#">Парикмахерская</a></li>
					<li><a href="#">Косметология</a></li>
					<li><a href="#">Ногтевой сервис</a></li>
					<li><a href="#">Свадебные услуги</a></li>
				</ul> <!-- / tabs -->

				<div class="tab_content">
					<div class="tabs_item">
						<h4>Tab 01 Далеко-далеко, за словесными.</h4>
						<p>Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Букв
							вопрос
							большого текста собрал ведущими путь города алфавит, журчит диких? Свое моей журчит, первую
							необходимыми <a href="" class="a_link">путь пунктуация</a> единственное подпоясал!</p>
						<!-- ====== Фото-Альбом ========== -->
						<div class="fotobloc">
							<div class="fotobloc_foto one"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/973402/pexels-photo-973402.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/973402/pexels-photo-973402.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto two"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/36469/woman-person-flowers-wreaths.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/36469/woman-person-flowers-wreaths.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto three"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/1138409/pexels-photo-1138409.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/1138409/pexels-photo-1138409.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto four"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/159780/colors-hairdresser-cutting-colorimetry-159780.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/159780/colors-hairdresser-cutting-colorimetry-159780.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto five"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/957882/pexels-photo-957882.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/957882/pexels-photo-957882.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto six"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto seven"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/1849073/pexels-photo-1849073.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/1849073/pexels-photo-1849073.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto eight"><a data-fancybox="gallery1"
									href="https://images.pexels.com/photos/160699/girl-dandelion-yellow-flowers-160699.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/160699/girl-dandelion-yellow-flowers-160699.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
						</div>
						<!-- ======= //Фото-Альбом ========= -->
					</div> <!-- / tabs_item -->

					<div class="tabs_item">
						<h4>Tab02 Словесными горами в стране.</h4>
						<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вскоре,
							пунктуация
							семь. Сбить вскоре языком заголовок предложения рукопись, пор подзаголовок, взобравшись
							рыбного
							курсивных
							переписали, дорогу даль правилами он агентство.</p>
						<!-- ====== Фото-Альбом 2 ========== -->
						<div class="fotobloc">
							<div class="fotobloc_foto one"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/236393/pexels-photo-236393.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/236393/pexels-photo-236393.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto two"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/37546/woman-portrait-face-studio-37546.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/37546/woman-portrait-face-studio-37546.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto three"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/457702/pexels-photo-457702.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/457702/pexels-photo-457702.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto four"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/1937394/pexels-photo-1937394.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/1937394/pexels-photo-1937394.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto five"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/1171039/pexels-photo-1171039.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/1171039/pexels-photo-1171039.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto six"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/371110/pexels-photo-371110.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/371110/pexels-photo-371110.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto seven"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/922470/pexels-photo-922470.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/922470/pexels-photo-922470.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
							<div class="fotobloc_foto eight"><a data-fancybox="gallery2"
									href="https://images.pexels.com/photos/60894/blue-eyes-woman-female-makeup-60894.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"><img
										src="https://images.pexels.com/photos/60894/blue-eyes-woman-female-makeup-60894.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
										alt=""></a></div>
						</div>
						<!-- ======= //Фото-Альбом 2 ========= -->
					</div> <!-- / tabs_item -->

					<div class="tabs_item">
						<h4>Tab03</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, excepturi, minima,
							corporis
							deserunt
							quia quae sit officiis labore inventore autem a delectus consequuntur voluptatem modi
							eligendi
							similique
							sed nam vitae.</p>
						<!-- ====== Фото-Альбом 3 ========== -->
						<div class="fotobloc">
							<div class="fotobloc_foto one"><a data-fancybox="gallery3" href="img/manikur-1_1.jpg"><img
										src="img/manikur-1_1.jpg" alt=""></a></div>
							<div class="fotobloc_foto two"><a data-fancybox="gallery3" href="img/manikur-2_1.jpg"><img
										src="img/manikur-2_1.jpg" alt=""></a></div>
							<div class="fotobloc_foto three"><a data-fancybox="gallery3" href="img/manikur-1_2.jpg"><img
										src="img/manikur-1_2.jpg" alt=""></a></div>
							<div class="fotobloc_foto four"><a data-fancybox="gallery3" href="img/manikur-2_2.jpg"><img
										src="img/manikur-2_2.jpg" alt=""></a></div>
							<div class="fotobloc_foto five"><a data-fancybox="gallery3" href="img/manikur-2_3.jpg"><img
										src="img/manikur-2_3.jpg" alt=""></a></div>
							<div class="fotobloc_foto six"><a data-fancybox="gallery3" href="img/manikur-1_3.jpg"><img
										src="img/manikur-1_3.jpg" alt=""></a></div>
							<div class="fotobloc_foto seven"><a data-fancybox="gallery3" href="img/manikur-2_4.jpg"><img
										src="img/manikur-2_4.jpg" alt=""></a></div>
							<div class="fotobloc_foto eight"><a data-fancybox="gallery3" href="img/manikur-1_4.jpg"><img
										src="img/manikur-1_4.jpg" alt=""></a></div>
						</div>
						<!-- ======= //Фото-Альбом 3 ========= -->
					</div> <!-- / tabs_item -->

					<div class="tabs_item">
						<h4>Tab 04 Neque ipsum dolor.</h4>
						<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Речью
							живет
							вдали
							океана меня ведущими, последний грамматики коварный наш образ о однажды своего
							парадигматическая
							взгляд,
							щеке что! Ее, буквенных!</p>
						<!-- ====== Фото-Альбом 4 ========== -->
						<div class="fotobloc">
							<div class="fotobloc_foto one"><a data-fancybox="gallery4" href="img/svad-2_1.jpg"><img
										src="img/svad-2_1.jpg" alt=""></a></div>
							<div class="fotobloc_foto two"><a data-fancybox="gallery4" href="img/svad-1_1.jpg"><img
										src="img/svad-1_1.jpg" alt=""></a></div>
							<div class="fotobloc_foto three"><a data-fancybox="gallery4" href="img/svad-2_2.jpg"><img
										src="img/svad-2_2.jpg" alt=""></a></div>
							<div class="fotobloc_foto four"><a data-fancybox="gallery4" href="img/svad-1_2.jpg"><img
										src="img/svad-1_2.jpg" alt=""></a></div>
							<div class="fotobloc_foto five"><a data-fancybox="gallery4" href="img/svad-1_3.jpg"><img
										src="img/svad-1_3.jpg" alt=""></a></div>
							<div class="fotobloc_foto six"><a data-fancybox="gallery4" href="img/svad-2_3.jpg"><img
										src="img/svad-2_3.jpg" alt=""></a></div>
							<div class="fotobloc_foto seven"><a data-fancybox="gallery4" href="img/svad-1_4.jpg"><img
										src="img/svad-1_4.jpg" alt=""></a></div>
							<div class="fotobloc_foto eight"><a data-fancybox="gallery4" href="img/svad-2_4.jpg"><img
										src="img/svad-2_4.jpg" alt=""></a></div>
						</div>
						<!-- ======= //Фото-Альбом 4 ========= -->
					</div> <!-- / tabs_item -->

				</div> <!-- / tab_content -->
			</div> <!-- / tab -->
		</section>
		<!-- //Блок Вкладки Section Tabs -->

		<!-- Блок Аккордион -->
		<section id="section-3">
			<h2>Стоимость услуг</h2>

			<ul class="accordion">
				<li>
					<a class="a_taitl">Аренда визажиста на день<br> <span>264 $</span></a>
					<p>Далеко-далеко за словесными горами в стране гласных и согласных <a href="#" class="a_link">Так
							выглядит ссылка</a>. Текстами не ведущими
						залетают заманивший реторический языкового свое города! Бросил всеми сбить, свой строчка
						скатился точках
						вскоре маленькая себя своих? -12 Часов<br><br><a href="#SignMaster" rel="modal:open"
							class="btn">Заказать</a>
					</p>
				</li>
				<li>
					<a class="a_taitl">Аренда стилиста на день <br><span>264 $</span></a>
					<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Оксмокс
						семантика
						переписывается ты. Города послушавшись пустился рекламных меня свою свое букв парадигматическая,
						взгляд
						большого, подпоясал силуэт наш подзаголовок повстречался!<br><br><a href="#SignMaster"
							rel="modal:open" class="btn">Заказать</a></p>
				</li>
				<li>
					<a class="a_taitl">Свадебный макияж<br> <span>79 $</span></a>
					<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Он
						послушавшись моей
						над? Речью рыбными коварный толку за последний это пустился мир о он собрал. Составитель которой
						семантика
						лучше?<br><br><a href="#SignMaster" rel="modal:open" class="btn">Заказать</a></p>
				</li>
				<li>
					<a class="a_taitl">Свадебный макияж (выезд) + трансфер <br><span>120 $</span></a>
					<p>Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Всемогущая
						наш
						реторический коварный, не моей домах языком вершину подпоясал журчит снова коварных маленькая
						своего
						парадигматическая, его жаренные все свой!<br><br><a href="#SignMaster" rel="modal:open"
							class="btn">Заказать</a></p>
				</li>
				<li>
					<a class="a_taitl">Свадебная причёска <br><span>79 $</span></a>
					<p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты. Возвращайся
						своих
						взобравшись приставка повстречался, ведущими предупредила пунктуация напоивший образ вопроса,
						обеспечивает
						предложения ему диких бросил послушавшись предупреждал. Ты, меня.<br><br><a href="#SignMaster"
							rel="modal:open" class="btn">Заказать</a></p>
				</li>
				<li>
					<a class="a_taitl">Свадебная причёска (выезд) + трансфер <br><span>120 $</span></a>
					<p>Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Агентство
						реторический
						это, курсивных однажды рыбного своего рот, образ последний живет, жаренные коварных большой дал
						ее запятых
						меня парадигматическая выйти.<br><br><a href="#SignMaster" rel="modal:open"
							class="btn">Заказать</a></p>
				</li>
			</ul> <!-- / accordion -->
		</section>
		<!-- //Блок Аккордион -->

		<!-- Блок Наши Мастера -->
		<section>
			<h2>Наши Мастера</h2>
			<div class="block-masers">
				<!-- Карточка Мастера 1 -->
				<div class="block-masers_card">
					<img src="img/master1.jpg" alt="">
					<span class="hr"></span>
					<h3>Ася Клячина (визажист)</h3>
					<p>Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в
						60-х годах и, в
						более недавнее время,</p>
				</div>
				<!-- //Карточка Мастера 1 -->
				<!-- Карточка Мастера 2 -->
				<div class="block-masers_card">
					<img src="img/master2.jpg" alt="">
					<span class="hr"></span>
					<h3>Роберт Милер (стилист - визажист)</h3>
					<p>Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в
						60-х годах и, в
						более недавнее время,</p>
				</div>
				<!-- //Карточка Мастера 2 -->
				<!-- Карточка Мастера 3 -->
				<div class="block-masers_card ful_card">
					<div>
						<img src="img/master3.jpg" alt="">
						<span class="hr"></span>
					</div>
					<div>
						<h3>Анастасия Портман (парикмахер)</h3>
						<p>Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum
							в 60-х годах и, в
							более недавнее время,</p>
					</div>
				</div>
				<!-- //Карточка Мастера 3 -->
			</div>
		</section>
		<!-- //Блок Наши Мастера -->

		<!-- Блок Карусель Наши партнёры -->
		<section>
			<h2>Наши партнёры</h2>
			<div class="owl-carousel owl-theme">
				<div class="item">
					<img src="img/part-logo1.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo2.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo3.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo4.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo5.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo6.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo7.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo8.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo9.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo10.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo11.jpg" alt="">
				</div>
				<div class="item">
					<img src="img/part-logo12.jpg" alt="">
				</div>
			</div>
		</section>
		<!-- //Блок Карусель Наши партнёры -->

		<!-- Блок Галерея работ мастеров из SULWLIQ -->
		<section id="section-4">
			<h2>Галерея работ мастеров из SULWLIQ</h2>
			<div class="foto-albom">
				<div class="foto-albom_card">
					<a data-fancybox="strizhka" href="img/strizhka1.jpg">
						<img src="img/strizhka1.jpg" alt="">
					</a>
				</div>
				<div class="foto-albom_card">
					<a data-fancybox="strizhka" href="img/strizhka2.jpg">
						<img src="img/strizhka2.jpg" alt="">
					</a>
				</div>
				<div class="foto-albom_card">
					<a data-fancybox="strizhka" href="img/strizhka3.jpg">
						<img src="img/strizhka3.jpg" alt="">
					</a>
				</div>
				<div class="foto-albom_card">
					<a data-fancybox="strizhka" href="img/strizhka4.jpg">
						<img src="img/strizhka4.jpg" alt="">
					</a>
				</div>
				<div class="foto-albom_card">
					<a data-fancybox="strizhka" href="img/strizhka5.jpg">
						<img src="img/strizhka5.jpg" alt="">
					</a>
				</div>
				<div class="foto-albom_card">
					<a data-fancybox="strizhka" href="img/strizhka6.jpg">
						<img src="img/strizhka6.jpg" alt="">
					</a>
				</div>
			</div>
		</section>
		<!-- //Блок Галерея работ мастеров из SULWLIQ -->

	</div>
	<!-- //Контент сайта  wrapper -->


	<!-- Блок подвал сайта  -->
	<div class="contact-footer" id="section-5">
		<div class="address">
			<p>Адрес: <span>Алма-Ата ул. Шаляпина дом 52</span></p>
			<p>Телефон: <span>+7 701 721-12-84</span></p>
			<p>E-mail: <span>admin@ sulwliq.kz</span></p>
			<div class="foraction">
				<div class="foraction_knopka"><a href="#PhoneCall" rel="modal:open" class="btn">Заказать звонок</a>
				</div>
				<div class="socset">
					<a href=""><img src="img-theme/inst.png" alt=""></a>
					<a href=""><img src="img-theme/fb.png" alt=""></a>
					<a href=""><img src="img-theme/vk.png" alt=""></a>
				</div>
			</div>
		</div>
		<div class="map">
			<img src="img-theme/map.jpg" alt="">
		</div>
	</div>
	<footer class="footer">
		<div class="footer-logo">
			<a href="#section-1"><img src="img-theme/logo.png" alt=""></a>
		</div>
		<div class="footer-menu">
			<ul>
				<li><a href="#section-1">Главная</a></li>
				<li><a href="#section-2">Услуги</a></li>
				<li><a href="#section-3">Прайс</a></li>
				<li><a href="#section-4">Портфолио</a></li>
				<li><a href="#section-2">Контакты</a></li>
			</ul>
		</div>
		<div class="footer-copirait">
			<p>2019 © Все права защищены<br>
				<a href="" class="linc-url"> Создано в PoliWeb</a></p>
		</div>
	</footer>
	<!-- //Блок подвал сайта  -->
	<!-- =================== Модальные окна ====================-->
	<!-- Заказать звонок modal embedded in page -->
	<div id="PhoneCall" class="modal">
		<article>
			<header class="modal-header">
				<h3>Заказать звонок</h3>
			</header>
			<form action="" class="modal-form">
				<input type="neme" placeholder="Ваше имя">
				<input type="namber" placeholder="Номер телефона">
				<a href="#" class="btn2">Заказать звонок</a>
			</form>
			<footer class="modal-footer">
				<p>*Мы не передаем Вашу персональную информацию третьим лицам 100%</p>
			</footer>
		</article>
	</div>
	<!-- //Заказать звонок modal embedded in page -->

	<!-- Записаться к мастеру modal embedded in page -->
	<div id="SignMaster" class="modal">
		<article>
			<header class="modal-header">
				<h3>Записаться к мастеру</h3>
			</header>
			<form action="" class="modal-form">
				<input type="neme" placeholder="Ваше имя">
				<input type="namber" placeholder="Номер телефона">
				<p><input type="checkbox" name="master" value="hairdresser" checked class="boxing"> Парикмахер</p>
				<p><input type="checkbox" name="master" value="Beautician" class="boxing"> Касметолог</p>
				<p><input type="checkbox" name="master" value="Manicurer" class="boxing"> Манекюр</p>
				<p><input type="checkbox" name="master" value="WeddingServices" class="boxing"> Свадебные услуги</p>
				<a href="#" class="btn2">Записаться</a>
			</form>
			<footer class="modal-footer">
				<p>*Мы не передаем Вашу персональную информацию третьим лицам 100%</p>
			</footer>
		</article>
	</div>
	<!-- //Записаться к мастеру modal embedded in page -->

	<!-- Map modal embedded in page -->
	<div id="map" class="modal">
		<article>
			<header class="modal-header">
				<h3>схема проезда и адрес</h3>
			</header>
			<p>
				Адрес: Алма-Ата ул. Шаляпина дом 52 <br>
				Телефон: +7 701 721-12-84 <br>
				E-mail: admin@ sulwliq.kz
			</p>
			<img src="img-theme/map.jpg" alt="" width="100%">
			<footer class="modal-footer">
				<p>Подробно смотреть на <a href="" class="a_link">Яндекс картах</a></p>
			</footer>
		</article>

	</div>
	<!-- //Map modal embedded in page -->
	<!-- //Модальные окна -->

	<!-- Блок для привязки файлов скриптов -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<script src="js/moi.js"></script>
	<script src="js/tabs.js"></script>
	<script src="js/owl.carousel.min.js"></script>

</body>

</html>